{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    [
      "import",
      {
        "style": "less",
        "libraryName": "antd"
      }
    ]
  ],
  "ignore": [
    "node_modules"
  ]
}
