extends ./common/base

block title
  title 愿你被生活温柔以待

block css
  link(rel='stylesheet', href='../../webpack/server/home/index.css')

block main
  div#container !{root}

block js
  script(src='../webpack/h5/home/index.js')
