extends ../common/html/base

block title
  title hello my web

block css
  link(rel='stylesheet', href='./webpack/home/index.css')

block main
  div#container

block js
  script(src='./webpack/home/index.js')
