extends ../../common/html/base

block title
  title 注册/登录

block css
  link(rel='stylesheet', href='../../webpack/server/account/index.css')

block main
  div#container !{root}

block js
  script(src='../../webpack/h5/account/index.js')
